body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-start; /* Align the score at the top */
}

canvas {
  display: block;
}

#scoreDisplay {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  text-align: center;
}
#statusMessage {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  text-align: center;
}
#toggleButton {
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 10px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 100px;
  transform: translateX(-50%);
  cursor: pointer;
}

#toggleButton:hover {
  background-color: #0056b3;
}